<table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
  <thead>
    <tr>
      <th class="text-center">Día</th>
      <th>Concepto</th>
      <th class="text-right">Categoría</th>
      <th class="text-right">Valor</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <td class="date">
        <div class="day"><%= expense.date.strftime('%d')%></div>
        <div class="month"><%= expense.date.strftime('%b')%></div>
      </td>
      <td>
        <div>
          <span class="type"><%= @types.find {|i| i.id == expense.type_id}.name%></span>
        </div>
        <div>
          <span class="concept"><%= expense.concept%></span>
        </div>
      </td>
      <td class="category text-right"><%= @categories.find {|i| i.id == expense.category_id}.name%></td>
      <td class="text-right" style="width: 170px;">
        <div class="amount"><%=  expense.amount %></div>
        <div class="actions">
          <%=link_to "<span class='glyphicon glyphicon-edit'></span> edit".html_safe, edit_expense_path(expense.id), remote: true%>
          <%=link_to "<span class='glyphicon glyphicon-trash'><span> delete".html_safe, expense_path(expense),:data => {:confirm => "You sure?",:method => "delete", remote: true} %>
          <!-- <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
          <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a> -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
