<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <% @types.each do |type|%>
        <%= link_to type.name, expenses_path(type_id: type.id), class: 'list-group-item', remote: true %>
        <% end %>
        <!-- <a href="#" class="list-group-item">Purchase</a> -->
        <!-- <a href="#" class="list-group-item">Withdrawal</a> -->
        <!-- more transaction types -->
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">
        <% @categories.each do |category|%>
        <%= link_to category.name, expenses_path(category_id: category.id), class: 'list-group-item', remote: true %>
        <% end %>
        <!-- <a href="#" class="list-group-item">Restaurants</a> -->
        <!-- <a href="#" class="list-group-item">Car</a> -->
        <!-- more categories  -->
      </div>
    </div>
    <div class="col-md-9 index-data">
      <div class="row" style="margin-top: 10px;">
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$2,500,000</div>
          <div class="summary-label">Total</div>
        </diV>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">2</div>
          <div class="summary-label">Transactions</div>
        </div>
        <div class="summary-box col-md-4 text-center">
          <div class="summary-value">$1,000,000</div>
          <div class="summary-label">Average</div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <a href="#" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span> New Expense</a>
          <h4 class="dropdown pull-right">
            <button type="button" class="dropdown-toggle btn btn-link" data-toggle="dropdown">April 2016 <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a href="#">April 2016</a></li>
              <li role="presentation"><a href="#">March 2016</a></li>
              <!-- more months -->
            </ul>
          </h4>
        </div>
      </div>

      <table id="expenses-table" class="table table-hover" style="margin-top: 20px;">
        <thead>
          <tr>
            <th class="text-center">Día</th>
            <th>Concepto</th>
            <th class="text-right">Categoría</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
          <tr>
            <td class="date">
              <div class="day"><%= expense.date.strftime('%d')%></div>
              <div class="month"><%= expense.date.strftime('%b')%></div>
            </td>
            <td>
              <div>
                <span class="type"><%= @types.find {|i| i.id == expense.type_id}.name%></span>
              </div>
              <div>
                <span class="concept"><%= expense.concept%></span>
              </div>
            </td>
            <td class="category text-right"><%= @categories.find {|i| i.id == expense.category_id}.name%></td>
            <td class="text-right" style="width: 170px;">
              <div class="amount"><%=  expense.amount %></div>
              <div class="actions">
                <a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </td>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>
