<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= form_tag(expenses_path, remote: true, method: 'GET') do %>
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>

      <div class="list-group filter-type">
        <% @types.each do |type| %>
        <%= radio_button_tag(:type_id, type.id) %>
        <%= label_tag(:type_name, type.name) %> <br>
        <% end %>
      </div>

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>

      <div class="list-group filter-category">
        <% @categories.each do |category|%>
        <%= radio_button_tag(:category_id, category.id) %>
        <%= label_tag(:category_name, category.name) %> <br>
        <% end %>
      </div>
      
      <%= submit_tag "buscar"%>
      <% end %>

    </div>
    <div class="col-md-9 index-data">
      <%=render("form")%>
    </div>
  </div>
</div>
